<form (ngSubmit)="Submit()">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<table class="table caption-top" *ngIf="submit">
    <caption>List of Users</caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of dataArray">
            <td>{{user.useremail}}</td>
            <td>{{user.userpassword}}</td>
        </tr>
    </tbody>
</table>